.ex-1-square{
  transition-property:all;
  transition-duration:4s;
}
.ex-1-square:hover{
  background-color:red;
}
.ex-2-square{
  transition-property:all;
  transition-duration:2s;
}
.ex-2-square:active{
  width:100%;
}
.ex-3-square{
  transition-property: all;
  transition-duration:0.8s;
}
.ex-3-square:hover{
  border-radius:50%;
}
.ex-4-square{
  transition-property:all;
  transition-duration:3s;
  opacity:1;
}
.ex-4-square:hover{
  opacity:0;
}
.ex-5-square{
  transition-property:all;
  transition-duration:2s;

}
.ex-5-square:hover{
  transform: scale(2);
}
.ex-5-square:active{
  transform: scale(0.3);
}
.ex-6-img{
  transition-property:all;
  transition-duration:2s;
}
.ex-6-img:hover{
  filter: grayscale(1);
}
.ex-7-img{
  transition-property:all;
  transition-duration:1.5s;
}
.ex-7-img:hover{
  filter: sepia(2);
}
.ex-8-img{
  transition-property:all;
  transition-duration:3s;
}
.ex-8-img:hover{
  filter:sepia(4) grayscale(3);
  border-radius:30px;
}
